<%- include('../../views/partials/user/header') %>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

<div class="container my-5">
  <h2 class="text-center mb-4 text-primary"><b><i>Order Details</i></b></h2>
  <div class="card shadow-sm">
    <div class="card-body">
      <strong>Order ID:</strong> <%= order.orderId %><br>
      <strong>Order Date:</strong> <%= order.orderDateFormatted %><br>
      <strong>Expected Delivery:</strong> <%= order.expectedDeliveryDateFormatted %> <br>
      <strong>Payment Method:</strong> <%= order.paymentMethod %> <br>
      <strong>Payment Status:</strong> <%= order.paymentStatus %>
      <%if(order.status==='Pending'){ %>
        <div class="text-center">
          <p class="badge bg-danger rounded-pill fs-6"><i class="bi bi-exclamation-square-fill"></i> Payment Failed</p>
          <form id="retryPayment">
            <input type="hidden" name="orderId" value="<%= order._id %>" id="retryOrderId">
            <button type="submit" class="btn btn-outline-success fw-semibold"><i class="bi bi-arrow-clockwise"></i> Retry Payment</button>
          </form>
        </div>
        <%}%>
      <% if( order.status==='Delivered' || order.status==='Returned' || order.status==='Return Requested' ) { %>
      <div class="mt-3 ms-3 text-end">
        <a href="/myOrders/<%= order._id %>/invoice" class="btn btn-success">
          <i class="bi bi-file-earmark-arrow-down"></i> Download Invoice
        </a>
      </div>
      <% } %>
      <hr>
<!-- Dynamic Progress Bar -->
<% if (order.status === 'Cancelled') { %>
  <div class="text-center my-4">
    <h5 class="text-danger fw-bold">Order Cancelled</h5>
  </div>
    <% }else if (order.status === 'Return Requested') { %>
  <div class="text-center my-4">
    <h5 class="text-danger fw-bold">Order requested for Returning</h5>
  </div>
<% } else { %>
  <%
    let stages = ['Pending','Placed','Packed','Shipped','Out for Delivery','Delivered'];
    if (['Returned'].includes(order.status)) {
        stages.push('Returned');
    }
  %>

  <div class="d-flex align-items-center mb-2">
    <% stages.forEach((stage, i) => { %>
      <div class="text-center position-relative flex-shrink-0 px-3">
        <i class="bi bi-stop-circle-fill <%= i <= order.statusIndex ? 'text-success' : 'text-secondary' %> fs-4"></i>
        <div class="small" style="color: <%= i <= order.statusIndex ? '#388e3c' : '#bdbdbd' %>"><%= stage %></div>
      </div>

      <% if (i < stages.length - 1) { %>
        <div class="flex-fill position-relative mx-2">
          <div class="position-absolute top-50 start-0 end-0 d-flex justify-content-center" style="transform: translateY(-50%);">
            <div class="w-100 <%= i < order.statusIndex ? 'bg-success' : 'bg-secondary' %> rounded" style="height: 2px;"></div>
          </div>
        </div>
      <% } %>
    <% }) %>
  </div>
<% } %>
<hr>

      <h5>Items</h5>
      <% order.items.forEach(item => { %>
        <div class="row align-items-center mb-2">
          <div class="col-auto">
            <img src="<%= item.image %>" style="width:60px;height:80px;object-fit:cover;" class="rounded">
          </div>
          <div class="col">
            <div><strong><%= item.name %></strong></div>
            <span class="badge bg-dark"><%= item.coverType %></span>
            <div class="small">Qty: <%= item.quantity %></div>
          </div>
          <div class="col-auto text-end fs-5 fw-bold">
            ₹ <%= item.totalPrice %>/-
            <br>
            <%  if(item.itemStatus === 'Return Rejected'){ %>
                <span class="badge text-danger">Return Rejected</span>
                <%}%>
             <% if(['Placed', 'Packed'].includes(item.itemStatus)) { %>
        <button class="btn btn-sm btn-outline-danger cancel-item-btn mt-2 fw-bold" data-bs-toggle="modal" data-bs-target="#cancelModal-<%= item._id %>">
          Cancel Item
        </button>
      <% } if (item.itemStatus==='Cancelled') {%>
           <div class="badge text-danger">Item Cancelled</div>
          <% } else if (item.itemStatus==='Delivered') { %>
            <button class="btn btn-sm btn-outline-dark return-item-btn mt-2 fw-bold" data-bs-toggle="modal" data-bs-target="#returnModal-<%= item._id %>">
          Return Item
        </button>
            <% } else if (item.itemStatus === 'Return Requested') { %>
              <span class="badge text-info">Item Return Requested</span>
              <% } %>
          </div>
        </div>

        <!-- Return Item Modal -->
<div class="modal fade" id="returnModal-<%= item._id %>" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <form id="returnForm-<%= item._id %>" action="/myOrders/<%= order._id %>/item/<%= item._id %>/return" method="POST" onsubmit="return confirmItemReturn(event, '<%= item._id %>')">
        <div class="modal-header">
          <h5 class="modal-title">Return Item - <%= item.name %></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <label for="returnReason-<%= item._id %>" class="form-label">Reason for return</label>
          <textarea name="reason" id="returnReason-<%= item._id %>" class="form-control" rows="3" placeholder="May we know the reason......?"></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-dark">Confirm Return</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!--Cancel Item Modal-->
<div class="modal fade" id="cancelModal-<%= item._id %>" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <form id="cancelForm-<%= item._id %>" action="/myOrders/<%= order._id %>/item/<%= item._id %>/cancel" method="POST" onsubmit="return confirmItemCancel(event, '<%= item._id %>')">
        <div class="modal-header">
          <h5 class="modal-title">Cancel Item - <%= item.name %></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <label for="cancelReason-<%= item._id %>" class="form-label">Reason for cancel:</label>
          <textarea name="reason" id="cancelReason-<%= item._id %>" class="form-control" rows="3" placeholder="May we know the reason......?"></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-dark">Confirm Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>

      <% }) %>

      <hr>
      <h5>Delivery Address</h5>
      <div class="border rounded p-3 mb-4">
        <strong><%= order.address.name %></strong> (<%= order.address.addressType %>)<br>
        <%= order.address.phone %><br>
        <%= order.address.streetAddress %>, <%= order.address.city %>, <%= order.address.state %> - <%= order.address.pinCode %>
      </div>
      <div class="row mb-2">
        <div class="col fw-semibold">Subtotal:</div>
        <div class="col text-end fw-semibold">₹ <%= order.subtotal %>/-</div>
      </div>
      <div class="row mb-2">
        <div class="col">Delivery Charge:</div>
        <div class="col text-end text-primary">₹ <%= order.shippingCharge %>/-</div>
      </div>
<div class="row border-top pt-2">

  <% if(order.finalPayableAmount && order.finalPayableAmount < order.finalAmount) { %>

    <!-- Original Total -->
    <div class="col-6 fw-semibold">Total:</div>
    <div class="col-6 text-end fw-bold">
      ₹ <%= order.finalAmount %>/-
    </div>

    <!-- Discount -->
    <div class="col-6">Discount:</div>
    <div class="col-6 text-end text-danger">
      - ₹ <%= order.discount %>/-
    </div>

    <!-- Separator Line -->
    <div class="col-12">
      <hr class="my-1">
    </div>

    <!-- Final Total -->
    <div class="col-6 fw-bold">Final Total:</div>
    <div class="col-6 text-end fw-bold">
      ₹ <%= order.finalPayableAmount %>/-
    </div>

  <% } else { %>

    <!-- Normal Total (No Coupon) -->
    <div class="col-6 fw-bold">Total:</div>
    <div class="col-6 text-end fw-bold">
      ₹ <%= order.finalPayableAmount %>/-
    </div>

  <% } %>

</div>

    </div>
<div class="mt-3 text-center">
  <% if(order.canCancel) { %>
    <!-- Cancel Button Trigger -->
    <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#cancelModal-<%= order._id %>">
      Cancel Order
    </button>
  <% }%>
  <% if(order.canReturn) { %>
    <!-- Return Button Trigger -->
    <button class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#returnModal-<%= order._id %>">
      Return
    </button>
  <% } else if(order.status==='Return Rejected'){ %>
       <span class="badge text-danger">Return Rejected</span>
    <%}%>
</div>

<!-- Cancel Modal -->
<div class="modal fade" id="cancelModal-<%= order._id %>" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <form id="cancelForm-<%= order._id %>" action="/myOrders/<%= order._id %>/cancel" method="POST" onsubmit="return confirmCancel(event, '<%= order._id %>')">
        <div class="modal-header">
          <h5 class="modal-title">Cancel Order - <%= order.orderId %></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <label for="cancelReason-<%= order._id %>" class="form-label">Reason for cancellation</label>
          <textarea name="reason" id="cancelReason-<%= order._id %>" class="form-control" rows="3"></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-danger">Confirm Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Return Modal -->
<div class="modal fade" id="returnModal-<%= order._id %>" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <form id="returnForm-<%= order._id %>" action="/myOrders/<%= order._id %>/return" method="POST" onsubmit="return confirmReturn(event, '<%= order._id %>')">
        <div class="modal-header">
          <h5 class="modal-title">Return Order - <%= order.orderId %></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <label for="returnReason-<%= order._id %>" class="form-label">Reason for return</label>
          <textarea name="reason" id="returnReason-<%= order._id %>" class="form-control" rows="3" placeholder="May we know the reason......?"></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-dark">Confirm Return</button>
        </div>
      </form>
    </div>
  </div>
</div>

  </div>
</div>

<%- include('../../views/partials/user/footer') %>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>

    //Handle Cancel
      async function confirmCancel(event, orderId) {
      event.preventDefault();
      const form = document.getElementById(`cancelForm-${orderId}`);
      const formData = new URLSearchParams (new FormData(form));

        const confirm = await Swal.fire({
          title: 'Cancel this order?',
          text: 'This action cannot be undone.',
          icon: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Yes, cancel it!',
          cancelButtonText: 'No, keep it',
        });

        if (confirm.isConfirmed) {
          Swal.showLoading(); 
          try {
            const res = await fetch(form.action, {
                               method: 'POST',
                               body: formData
                              });
            if(res.headers.get('content-type')?.includes('text/html')) {
              window.location.reload();
              return;
            }     

          const data = await res.json();
            
            if(!data.success) {
                Swal.fire({
                  icon: 'error',
                  title: 'Oops...',
                  text: data.message || 'Something went wrong!'
                });
                return;
               }

            Swal.fire({
              icon: 'success',
              title: 'Cancel',
              text: data.message || "Order Cancelled!",
              timer: 2000,
              showConfirmButton: false
            });
             setTimeout(() => location.reload(), 2000);
          } catch (err) {
            Swal.fire({
              icon: 'error',
              title: 'Error',
              text: err.message || 'Unexpected server error occured!'
            });
          }
        }
      }

    // Handle Return
      async function confirmReturn(event, orderId) {
          event.preventDefault();
          const form = document.getElementById(`returnForm-${orderId}`);
          const formData = new URLSearchParams (new FormData(form));

        const confirm = await Swal.fire({
          title: 'Return this order?',
          text: 'You can only return within 14 days of delivery.',
          icon: 'question',
          showCancelButton: true,
          confirmButtonText: 'Yes, Return it!',
          cancelButtonText: 'No, keep it',
        });

        if (confirm.isConfirmed) {
          Swal.showLoading();
          try {
            const res = await fetch(form.action, { 
                                                    method: 'POST',
                                                    body: formData
                                                  });
          if(res.headers.get('content-type')?.includes('text/html')){
            window.location.reload();
            return;
          }
            const data = await res.json();
            
            if(!data.success){
              Swal.fire({
                icon: 'error',
                title: 'Oops....',
                text: data.message || 'Something went wrong'
              });
              return;
            }

            Swal.fire({
              icon: 'success',
              title: 'Return',
              text: data.message || "Order Return Requested",
              timer: 2000,
              showConfirmButton: false
            });
          setTimeout(() => location.reload(), 2000);
          } catch (err) {
            Swal.fire({
              icon: 'error',
              title: "Error",
              text: err.message || 'Unexpected server error !'
            });
          }
        }
      }

    // Handle Item Return
  async function confirmItemReturn(event, itemId) {
    event.preventDefault();
    const form = document.getElementById(`returnForm-${itemId}`);
    const formData = new URLSearchParams(new FormData(form));

    const confirm = await Swal.fire({
      title: 'Return this item?',
      text: 'You can only return within 14 days of delivery.',
      icon: 'question',
      showCancelButton: true,
      confirmButtonText: 'Yes, Return it!',
      cancelButtonText: 'No, keep it',
    });

    if (confirm.isConfirmed) {
      Swal.showLoading();
      try {
        const res = await fetch(form.action, {
          method: 'POST',
          body: formData
        });

        if (res.headers.get('content-type')?.includes('text/html')) {
          window.location.reload();
          return;
        }

        const data = await res.json();

        if (!data.success) {
          Swal.fire({
            icon: 'error',
            title: 'Oops...',
            text: data.message || 'Something went wrong!'
          });
          return;
        }

        Swal.fire({
          icon: 'success',
          title: 'Return Requested',
          text: data.message || 'Item return request submitted',
          timer: 2000,
          showConfirmButton: false
        });

        setTimeout(() => location.reload(), 2000);

      } catch (err) {
        Swal.fire({
          icon: 'error',
          title: 'Error',
          text: err.message || 'Unexpected server error!'
        });
      }
    }
  }

   //Handle Item Cancel
  async function confirmItemCancel(event, itemId) {
    event.preventDefault();
    const form = document.getElementById(`cancelForm-${itemId}`);
    const formData = new URLSearchParams(new FormData(form));

    const confirm = await Swal.fire({
      title: 'Cancel this item ?',
      text: 'This item will be removed from your order !',
      icon: 'question',
      showCancelButton: true,
      confirmButtonText: 'Yes, Cancel it!',
      cancelButtonText: 'No, keep it',
    });

    if (confirm.isConfirmed) {
      Swal.showLoading();
      try {
        const res = await fetch(form.action, {
          method: 'POST',
          body: formData
        });

        if (res.headers.get('content-type')?.includes('text/html')) {
          window.location.reload();
          return;
        }

        const data = await res.json();

        if (!data.success) {
          Swal.fire({
            icon: 'error',
            title: 'Oops...',
            text: data.message || 'Something went wrong!'
          });
          return;
        }

        Swal.fire({
          icon: 'success',
          title: 'Cancelled',
          text: data.message || 'Item Cancelled',
          timer: 2000,
          showConfirmButton: false
        });

        setTimeout(() => location.reload(), 2000);

      } catch (err) {
        Swal.fire({
          icon: 'error',
          title: 'Error',
          text: err.message || 'Unexpected server error!'
        });
      }
    }
  }

  document.addEventListener("DOMContentLoaded", () => {
    document.getElementById("retryPayment").addEventListener("submit", async (e) => {
      e.preventDefault();
    
      const orderId = document.getElementById("retryOrderId").value;
    
      const res = await fetch("/retryPayment", {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({ orderId })
      });
    
      const data = await res.json();
    
      if (!data.success) {
        return Swal.fire("Error", data.message, "error");
      }
    
      // 🔥 REDIRECT BACK TO CHECKOUT WITH NEW RAZORPAY ORDER ID
      window.location.href =
        `/orders?retry=1&orderId=${data.orderDbId}&rzpOrder=${data.orderId}`;
    });
  })
</script>
